.calculator {
  background-color: #6b6161;
  padding: 12px;
  border-radius: 4px;
  display: inline-block;
}
.calculator__result {
  background-color: rgb(226, 232, 245);
  padding: 12px;
  border-radius: 2px;
  width:84px;
  text-align:right;
}
.calculator__wrap{
  margin: 4px -4px 0;
}

.calculator__btn {
  width:24px;
  border-radius: 2px;
  border:0px;
  margin-left:4px;
  &.is-zero{
    width:80px;
  }
  &.is-clear{
    background-color: #c1b9b9;
    width:80px;
  }
  &.is-plus,
  &.is-minus,
  &.is-multipul,
  &.is-division,
  &.is-equal {
    background-color: #ed590a;
    color:#eee;
  }
}


